html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}
i,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    padding: 0;
    margin: 0;
}
input:focus,
select:focus,
textarea:focus {
    outline: 0px;
}
.row,
.col-6,
.col-4 {
    margin: 0;
    padding: 0;
}
.Announcement {
    background-color: #1cb803;
    padding: 10px 0px 6px 0px;
}
.Announcement .col-md-6 p {
    color: white;
    margin-right: 6rem;
    font-size: 15px;
}
.Announcement .col-12 a {
    color: white;
    margin-right: 2rem;
    font-size: 15px;
}
/* Header */
.header {
    padding: 10px 0px 10px 0px;
}
.navbar-brand img {
    width: 60%;
}
.input-group {
    height: 50px;
}
.search-button {
    width: 20%;
    background-color: black;
    color: white;
    border: 0;
    text-transform: uppercase;
    font-size: 12px;
}
.dropdown-menu a:hover {
    background-color: #1cb803 !important;
    color: white !important;
}
.mobile-header {
    display: none;
}
/* SHOP */
.section {
    width: 100%;
    padding-bottom: 6%;
    padding-top: 2%;
}
.sidebar_item {
    margin-bottom: 35px;
}
.sidebar_item h4 {
    color: #1c1c1c;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 25px;
}
.sidebar_item ul {
    margin: 0;
    padding: 0;
}
.sidebar_item ul li {
    list-style-type: none;
    display: flex;
}
.sidebar item ul li a {
    width: 25px;
    object-fit: contain;
    margin-left: 20px;
}
.border-product {
    padding: 15px;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
}
.shopBack {
    height: 250px;
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #f3fbf7;
}
.shopBack img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}
.shoptext {
    padding-top: 10px;
}
.shoptext p a {
    color: #252525;
}
.shoptext h3 {
    color: #252525;
    margin-top: 13px;
    font-weight: bold;
    font-size: 19px;
}
.rating {
    margin: 5px 0;
}
.rating i {
}
.subscribe-head p {
    color: white;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 39px;
}
.subscribe-head {
    text-align: center;
}
.form-search input[type='email'] {
    bottom: 0 none;
    border-radius: 25px;
    color: #9b9b9b;
    font-size: 16px;
    font-style: normal;
    height: 15px;
    letter-spacing: center;
    width: 460px;
}
.form-section input[type='submit'] {
    background-color: #1cb803;
    border: 0 none;
    border-radius: 25px;
    color: #fff;
    height: 52px;
    letter-spacing: 0;
    margin-left: -60px;
    padding: 0px 58px;
    text-transform: uppercase;
    font-size: 12px;
}
/* CONTACT */
.contactInfo {
    padding: 70px 0;
}
.contact-Box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-info {
    width: 80%;
    flex-direction: column;
    padding: 40px 0;
    box-shadow: 0 0 27px 0 rbg(243, 243, 243);
}
